body{
    width: 100%;
    background-color: rgb(231, 244, 255);
    margin: 0;
}
.list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 30px;
    margin: 0;
    justify-content: space-around;
    text-align: center;
    align-items: baseline;
}
.list_width{
    width: 33.33333333%;
    padding: 20px;
    box-sizing: border-box;
}
.images {
    width: 100%;
    height: 300px;
}
.head { 
    font-size: 80px;
    text-align: center;
    background-color: rgb(158, 199, 233);
    margin: 0;
    padding: 50px;
}
.head-2 {
    padding: 10px;
    font-size: 50px;
    text-align: center;
    background-color: rgb(94, 158, 210);
}
a:link {
    font-size: 30px;
    color:black;
}
a:visited {
    font-size: 30px;
    color:black; 
}
.footer {
    background-color: rgb(50, 105, 150);
}