body{
    width: 100%;
}
.list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 30px;
    margin: 0;
    justify-content: space-around;
    text-align: center;
    align-items: baseline;
}
.list_width{
    width: 33.33333333%;
}
.images {
    padding-bottom: 300px;
    max-height: 3px;
    max-width: 5px;
    transform: scale(15%);
    display: block;
    margin: 0;
    justify-content: space-around;
}
.head {
    padding: 10px;
}