body{
    width: 100%;
}
.list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 30px;
    margin: 0;
    justify-content: space-around;
    text-align: center;
    align-items: baseline;
}
.list_width{
    width: 33.33333333%;
    padding: 20px;
    box-sizing: border-box;
}
.images {
    width: 100%;
    height: auto;
}
.head {
    padding: 10px;
}